h1 {
    color:red;
}

.square {
    background-color: rebeccapurple;
    width: 26.6%;
    padding-bottom: 26.6%;
    margin: 3%;
    float: left;
    border-radius: 19%;
    transition: background-color 0.8s;
    transition: border-radius 0.8s;
}

.square.winner {
    background-color: gold;
    border-radius: 40%;
}

.square.loser {
    background-color: gray;
    border-radius: 40%;
}